.danitso-showcase-container {
    width: 100%;
    min-height: 480px;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: 5px solid #ffffff;
}

.danitso-showcase-container.danitso-showcase-container-default {
    background-image: url('../images/showcase-default.jpg');
}

.danitso-showcase-overlay {
    width: 50%;
    height: 100%;

    position: absolute;
    left: 0;
    right: 0;

    background: rgba(255, 255, 255, 0.95);
}

.danitso-showcase-column {
    padding: 30px 20px 30px 0;
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
    .danitso-showcase-column {
        padding: 0 10px;
    }
}

@media (max-width: map-get($grid-breakpoints, "xl")) {
    .danitso-showcase-overlay {
        width: 100%;
    }

    .danitso-showcase-right {
        display: none;
    }
}
