<nav class="navbar fixed-bottom navbar-expand-md navbar-dark bg-dark danitso-nav-footer">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFooterCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarFooterCollapse">
        <span class="navbar-text">
            <i class="far fa-copyright"></i>
            {{ site.time | date: "%Y" }}
            <span class="danitso-copyright-name">{{ site.github.owner_name }}</span>
        </span>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% assign parts = site.email | split: "@" %}
                {% assign domain = parts[1] | split: "." %}
                <a class="nav-link" href="javascript:window.location.href=''.concat(atob('bWFp'),atob('bHRv'),':','{{ parts[0] }}',String.fromCharCode((761.5+6.5)/12),'{{ domain[0] }}.','{{ domain[1] }}');">
                    <i class="far fa-envelope"></i>
                    <script>
                        document.write(''.concat('{{ parts[0] }}','<i class="fas fa-at fa-xs"></i>','{{ domain[0] }}.','{{ domain[1] }}'));
                    </script>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-info-circle"></i> About
                </a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/57dad8e207.js"></script>
