<div class="fixed-top danitso-header">
    <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
        <a class="navbar-brand" href="{{ site.baseurl }}">
            <img src="/assets/images/danitso.png" width="30" height="30" alt="">
            {{ site.title }}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeaderCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHeaderCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-md-block">
                    <a class="btn btn-secondary" href="{{ site.github.owner_url }}" target="_blank" title="Repositories">
                        <i class="fab fa-github"></i> Repositories
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="{{ site.github.owner_url }}" target="_blank">Repositories</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar static-top navbar-expand-md navbar-light danitso-nav-content">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownDocker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fab fa-docker"></i> Docker
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownDocker">
                        {% assign foundMatch = 0 %}
                        {% for repo in site.github.public_repositories %}
                            {% assign parts = repo.name | split: "-" %}
                            {% if parts.size > 2 and parts[0] == "docker" and parts[1] == "image" %}
                                {% assign foundMatch = 1 %}
                                <a class="dropdown-item" href="{{ repo.html_url }}" target="_blank">{{ repo.description }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if foundMatch == 0 %}
                            <a class="dropdown-item disabled" href="#">No images available</a>
                        {% endif %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownTerraform" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-magic"></i> Terraform
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownTerraform">
                        {% assign foundMatch = 0 %}
                        {% for repo in site.github.public_repositories %}
                            {% assign parts = repo.name | split: "-" %}
                            {% if parts.size > 2 and parts[0] == "terraform" and parts[1] == "provider" %}
                                {% assign foundMatch = 1 %}
                                <a class="dropdown-item" href="{{ repo.html_url }}" target="_blank">{{ repo.description }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if foundMatch == 0 %}
                            <a class="dropdown-item disabled" href="#">No providers available</a>
                        {% endif %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownUtilities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-terminal"></i> Utilities
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownUtilities">
                        {% assign foundMatch = 0 %}
                        {% for repo in site.github.public_repositories %}
                            {% assign parts = repo.name | split: "-" %}
                            {% if parts.size > 2 and parts[0] == "cli" and parts[1] == "utility" %}
                                {% assign foundMatch = 1 %}
                                <a class="dropdown-item" href="{{ repo.html_url }}" target="_blank">{{ repo.description }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if foundMatch == 0 %}
                            <a class="dropdown-item disabled" href="#">No tools available</a>
                        {% endif %}
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="fas fa-info-circle"></i> About
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
